*{
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: #FFF
}

li {
    list-style: none
}

p{
    line-height: 1.8rem
}

.seat{
    flex: 1 1 auto
}

::-webkit-scrollbar {
    width:0
}

body, input, textarea, h1, h2, h3, h4 {
    font-family: "Times New Roman",Georgia,Serif;
}

h1{
    font-weight: 800;
    font-size: 3.25rem;
    padding: 0 0.2em;
    margin: 0 auto;
}

p{
    line-height: 2.6rem;
    font-size: 1.6rem;
    margin: 0.2rem auto;
}

/* 橙，黄，蓝,青 ,绿*/

.level1{
    background-color:#0404d2;
    background-image: repeating-linear-gradient(-45deg, #1454F2, #1454F2 1.6rem, #0404d2 1.6rem, #0404d2 3.2rem);
    background-size: auto 100%;
    animation: barberpole 12s linear infinite;
}

.level2{    
    background-color:#0404d2;
    background-image: repeating-linear-gradient(-45deg,#94d2b2, #94d2b2 1.6rem, #04d2d2 1.6rem,#04d2d2 3.2rem);
    background-size: auto 100%;
    animation: barberpole 12s linear infinite;
} 

.level3{
    background-color:#0404d2;
    background-image: repeating-linear-gradient(-45deg,#928904, #928904 1.6rem, #d28904 1.6rem,#d28904 3.2rem);
    background-size: auto 100%;
    animation: barberpole 12s linear infinite;
}

.level4{
    background-color:#0404d2;
    background-image: repeating-linear-gradient(-45deg,#a2d204, #a2d204 1.6rem, #d2d204 1.6rem,#d2d204 3.2rem);
    background-size: auto 100%;
    animation: barberpole 12s linear infinite;
}  

.level5{
    background: -webkit-linear-gradient(to right, green, green);
    background: -moz-linear-gradient(to right, green, green);
    background: -o-linear-gradient(to right, green, green);
    background: linear-gradient(to right, green, green);
}
   
@keyframes barberpole {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 23rem 0%;
  }
}
.skill-level[data-percent="5"] {
  width: 5%;
}

.skill-level [data-percent="10"] {
  width: 10%;
}

.skill-level [data-percent="15"] {
  width: 15%;
}

.skill-level [data-percent="20"] {
  width: 20%;
}

.skill-level [data-percent="25"] {
  width: 25%;
}

.skill-level [data-percent="30"] {
  width: 30%;
}

.skill-level [data-percent="35"] {
  width: 35%;
}

.skill-level [data-percent="40"] {
  width: 40%;
}

.skill-level [data-percent="45"] {
  width: 45%;
}

.skill-level [data-percent="50"] {
  width: 50%;
}

.skill-level [data-percent="55"] {
  width: 55%;
}

.skill-level [data-percent="60"] {
  width: 60%;
}

.skill-level [data-percent="65"] {
  width: 65%;
}

.skill-level [data-percent="70"] {
  width: 70%;
}

.skill-level [data-percent="75"] {
  width: 75%;
}

.skill-level [data-percent="80"] {
  width: 80%;
}

.skill-level [data-percent="85"] {
  width: 85%;
}

.skill-level [data-percent="90"] {
  width: 90%;
}

.skill-level [data-percent="95"] {
  width: 95%;
}

.skill-level[data-percent="100"] {
  width: 100%;
}
       